@{
    ViewData["Title"] = "总览";
}
<div class="jumbotron">
    <h1>欢迎使用Nuget代理</h1>
    <p>
        本站已缓存页面：@ViewBag.PageCount
        <br />
        本站已缓存包：@ViewBag.PackageCount
    </p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Help")" role="button">使用NuGet代理</a></p>
    <p>
        <h3>项目Github地址：</h3>
        <a href="https://github.com/Kation/NugetProxy" target="_blank">https://github.com/Kation/NugetProxy</a>
    </p>
</div>
